/* print.css */

@media print {
    body {
      font-family: 'Courier New', Courier, monospace;
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact;
    }
  
    .pos-receipt {
      width: 80mm; /* Ancho estándar para impresoras POS */
      margin: 0 auto;
    }
  
    .pos-receipt img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    .pos-receipt th, .pos-receipt td {
      font-size: 10pt;
      padding: 1px;
      text-align: left;
    }
  
    .pos-receipt {
      transform: scale(1);
      transform-origin: top left;
    }

    .pos-receipt td {
      text-align: right;
      font-size: 9pt; 
      white-space: nowrap; /* Evita que el texto se divida en varias líneas */
      overflow: hidden; /* Esconde cualquier desbordamiento */
      text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    }
    
  
    .no-print {
      display: none !important;
    }
  }
  