/* Estilo.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos específicos para impresión */
@media print {
  body {
    print-color-adjust: exact; /* Propiedad estándar */
    -webkit-print-color-adjust: exact; /* Propiedad para compatibilidad con WebKit */
  }

  .printable-content {
    padding: 10mm;
    margin: 0 auto;
    width: 100%;
  }

  /* Ajuste para impresoras térmicas POS de 80mm */
  @page {
    size: 80mm auto;
    margin: 0;
  }

  .printable-content {
    width: 72mm; /* Espacio útil para el papel de 80mm */
  }

  /* Ajustes para diferentes tamaños de papel POS */
  @page {
    /* Tamaños adicionales para papel POS */
    size: 72mm 800mm;
    size: 72mm 400mm;
    size: 72mm 297mm;
    size: 72mm 210mm;
    margin: 0;
  }

  .printable-content {
    /* Ajuste estándar para ancho de 72mm */
    width: 72mm;
  }

  /* Ajuste para impresoras térmicas POS de 58mm */
  @media (max-width: 58mm) {
    .printable-content {
      width: 58mm; /* Ancho común de rollos de papel térmico */
      font-size: 10pt;
      padding: 5mm;
    }

    table {
      width: 100%;
    }

    th, td {
      font-size: 8pt; /* Ajuste de tamaño de fuente para 58mm */
      padding: 3px;
    }
  }

  /* Estilos específicos para papeles grandes (e.g., tamaño legal) */
  @media (min-width: 216mm) {
    @page {
      size: legal;
      margin: 10mm;
    }

    .printable-content {
      width: auto;
      padding: 20mm;
    }

    table {
      width: 100%;
    }

    th, td {
      font-size: 12pt; /* Ajuste de tamaño de fuente para papeles más grandes */
      padding: 6px;
    }
  }

  table {
    page-break-inside: avoid;
    width: 100%;
  }

  hr {
    page-break-after: avoid;
    border: none;
  }

  th, td {
    font-size: 9pt; /* Ajuste estándar para impresoras POS */
    padding: 4px;
  }
}
